#wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    grid-template-rows: auto auto auto auto;

    padding: 0;
    box-sizing: border-box;

/*    
    grid-template-rows: minmax(0,650px) minmax(0px,75px) minmax(0px,400px) minmax(0px,75px) minmax(0px,200px) minmax(0px,100px);
/*    grid-template-columns: minmax(0px,100px) minmax(0px,50px) minmax(0px,250px) minmax(0px,75px) minmax(0px,250px) minmax(0px,75px) minmax(0px,250px) minmax(0px,50px) minmax(0px,100px);
*/
/*   grid-template-columns: minmax(0px,1fr) minmax(0px,.5fr) minmax(0px,2.5fr) minmax(0px,0.75fr) minmax(0px,2.50fr) minmax(0px,0.75fr) minmax(0px,2.50fr) minmax(0px,.5fr) minmax(0px,1fr);
*/
}

body {
    margin: 0;
}

header {
    grid-column: 2/3;
    grid-row: 1;
}

nav {
    grid-row: 1/2;
}

#homehero {
    grid-column: 2/3;
    grid-row: 1/2;

    background-image: url("lighthouse1.jpg");
    width: 100%;
    height: 650px;
    background-position: center;

    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    height: 44px;
    width: 100%;

    background-color: #004648;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 15px 0;
    margin: 0;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;

    padding: 6px 12px;

    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #008b90;
    border-radius: 4px;
}

.herotext {
    flex: 1;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    text-align: center;
    color: white;

    padding-top: 120px;
}

.herotext h1 {
    font-size: 48px;
    margin: 0;
}

.herotext p {
    margin-top: 10px;
    font-size: 14px;
    max-width: 400px;
}

#card1, #card2, #card3 {
    margin-top: 0px;
    height: 360px;
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

#banner {
    grid-column: 2/3;
    grid-row: 3/4;

    background-color: #004648;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 40px;
}

footer {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    padding: 20px;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.cardtext {
    padding: 15px;
    text-align: center;
}

.cardtext p {
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
}

.content {
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 20px 0;
    align-items: center;
}

.subpage {
    grid-column: 2/3;
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
}

.subpage img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}


.subpage h1 {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    text-align: center;
}

.subpage p {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    text-align: center;
}

.subpage .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
}

.subpage .gallery img {
    min-width: 250px;
    max-width: 400px;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
}

#backstoryimg {
    max-height: 500px;
    max-width: 300px;
}

h3 {
    text-align: center;
}

.subpage ul li {
    text-align: center;
    align-items: center;

}

@media (max-width: 992px) {
    #wrapper {
        grid-template-columns: 1fr min(768px, 100%) 1fr;
        grid-template-rows: auto auto auto auto;
        width: 100%;
    }

    .content {
        grid-column: 2/3;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    #banner, #footer, #homehero {
        grid-column: 2/3;
    }

    .subpage .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px 0;
    }

    .subpage .gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
    }
}

@media (max-width: 768px) {
    #wrapper {
        grid-template-columns: 1fr min(100%, 500px) 1fr;
    }

    .content {
        grid-column: 2/3;
        grid-template-columns: 1fr;
        width: 100%;
        justify-items: center;

    }

    #banner, #footer, #homehero {
        grid-column: 2/3;
        margin: 0 auto;
    }

    #card1, #card2, #card3 {
        
        margin-top: 0px;
        height: 240px;
        background-color: rgb(204, 204, 204);
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    }

    .subpage {
        grid-column: 2/3;
    }

    .subpage .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 0;
    }

    .subpage .gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
    }
    
}